---
import { getCollection } from "astro:content";
const videos = await getCollection("videos");
---

<h1>북영상</h1>

{videos.map(video => (
  <article>
    <h2>{video.data.title}</h2>

    <iframe
      src={`https://www.youtube.com/embed/${video.data.youtube_id}`}
      loading="lazy"
      allowfullscreen
    ></iframe>

    <p>{video.body}</p>
  </article>
))}
