<div class="comments">
  <script
    src="https://giscus.app/client.js"
    data-repo="YOUR_GITHUB_ID/YOUR_REPO"
    data-repo-id="YOUR_REPO_ID"
    data-category="General"
    data-category-id="YOUR_CATEGORY_ID"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-theme="light"
    data-lang="ko"
    crossorigin="anonymous"
    async>
  </script>
</div>

<style>
.comments {
  margin-top: 120px;
}
</style>
