---
import '../styles/blog.css';
const { title = "jaesok-blog" } = Astro.props;
---
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <a href="/">홈</a> | <a href="/video">영상</a> | <a href="/review">리뷰</a>
    </nav>
    <main>
      <slot /> 
    </main>
  </body>
</html>